<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.imooc.miaosha1.mapper.AttributeKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.imooc.miaosha1.entity.AttributeKey">
        <result column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="category_id" property="categoryId"/>
        <result column="attribute_specs" property="attributeSpecs"/>
        <result column="name_sort" property="nameSort"/>
        <result column="store_id" property="storeId"/>
        <result column="REVISION" property="revision"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="record_status" property="recordStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        brand_id, category_id, attribute_specs, name_sort, store_id, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, record_status
    </sql>

</mapper>
