<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.imooc.miaosha1.mapper.OrderGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.imooc.miaosha1.entity.OrderGoods">
        <result column="id" property="id"/>
        <result column="complete_time" property="completeTime"/>
        <result column="sub_order_no" property="subOrderNo"/>
        <result column="count_price" property="countPrice"/>
        <result column="order_id" property="orderId"/>
        <result column="parent_order_no" property="parentOrderNo"/>
        <result column="price" property="price"/>
        <result column="count" property="count"/>
        <result column="freight_price" property="freightPrice"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="shipping_status" property="shippingStatus"/>
        <result column="shipping_code" property="shippingCode"/>
        <result column="goods_name" property="goodsName"/>
        <result column="store_id" property="storeId"/>
        <result column="evaluation" property="evaluation"/>
        <result column="REVISION" property="revision"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="record_status" property="recordStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        complete_time, sub_order_no, count_price, order_id, parent_order_no, price, count, freight_price, delivery_time, shipping_status, shipping_code, goods_name, store_id, evaluation, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, record_status
    </sql>

</mapper>
