<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.imooc.miaosha1.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.imooc.miaosha1.entity.User">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="uid" property="uid"/>
        <result column="integral" property="integral"/>
        <result column="integral_total" property="integralTotal"/>
        <result column="password" property="password"/>
        <result column="telephone" property="telephone"/>
        <result column="nick_name" property="nickName"/>
        <result column="account_type" property="accountType"/>
        <result column="login_count" property="loginCount"/>
        <result column="head_sculpture_url" property="headSculptureUrl"/>
        <result column="REVISION" property="revision"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="record_status" property="recordStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_name, uid, integral, integral_total, password, telephone, nick_name, account_type, login_count, head_sculpture_url, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, record_status
    </sql>

</mapper>
