<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.imooc.mall.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.imooc.mall.entity.Brand">
        <result column="id" property="id"/>
        <result column="brand_name" property="brandName"/>
        <result column="pic_url" property="picUrl"/>
        <result column="sequence" property="sequence"/>
        <result column="category_id" property="categoryId"/>
        <result column="store_id" property="storeId"/>
        <result column="REVISION" property="revision"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_TIME" property="updatedTime"/>
        <result column="record_status" property="recordStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        brand_name, pic_url, sequence, category_id, store_id, REVISION, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, record_status
    </sql>

</mapper>
